{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/stylePanier.css') }}">
{% endblock %}

{% block body %}
    {% block javascripts %}
        {{ importmap() }}
        {% if app.user %}
            <script src="{{ asset('asset/js/ApiAddProduitPanier.js') }}"></script>
            <script>

                let data = JSON.parse(localStorage.getItem('panier')) || [];
                console.log()
                data.forEach(function (produit, index) {
                    addProduitFromLocalStorage(produit.id_produit,produit.quantite_produit)
                });
                localStorage.clear();
            </script>
        {% else %}
            <script src="{{ asset('asset/js/AddProduitPanier.js') }}"></script>
        {% endif %}
    {% endblock %}
        <section class="cart">
            <h2>Votre Panier</h2>

            <div id="panierContainer" class="container"></div>


            <div class="displayflex">
                <div class="cartTotal">
                    <h3>Total:</h3>
                    <span class="totalPrice" id="totalPrice"></span>
                </div>
            </div>
            <a href="#" class="btn">Valider la Commande</a>
            </div>
        </section>


    <div class="containerProduit">

        {% for produit in  produits %}
            <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="linkProduit product">
                <div >
                    <img src="{{ asset('uploads/images/' ~ produit.imgPro) }}" alt="{{ produit.nomPro }}" class="imgProduit">

                    <h3>{{ produit.nomPro }}</h3>
                    <p>{{ produit.descriptionPro }}</p>
                    <span class="price">{{ produit.prixPro }}€</span>
                </div>
            </a>
        {% endfor %}

    </div>
{% endblock %}
