{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/styleLogin.css') }}">
{% endblock %}



{% block body %}
    <header>
        <img src="{{ asset("asset/img/logoECOSERVICE.png") }}" />
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Connexion</h2>
            <form method="post">
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    <p><a id="pwforget">Mot de passe oublié</a></p>
                </div>


                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-lg btn-primary" type="submit">Se connecter</button>

            </form>
        </div>
        <p><a id="register" href="{{ path('app_register') }}">Pas encore de compte ? Inscris-toi !</a></p>
    </div>
{% endblock %}
