{% extends 'base.html.twig' %}

{% block title %}Diy index{% endblock %}

{% block body %}
    <h1>Diy index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom_diy</th>
                <th>Prix_diy</th>
                <th>Description_diy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for diy in diys %}
            <tr>
                <td>{{ diy.id }}</td>
                <td>{{ diy.nomDiy }}</td>
                <td>{{ diy.prixDiy }}</td>
                <td>{{ diy.descriptionDiy }}</td>
                <td>
                    <a href="{{ path('a pp_diy_show', {'id': diy.id}) }}">show</a>
                    <a href="{{ path('app_diy_edit', {'id': diy.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_diy_new') }}">Create new</a>
{% endblock %}
