

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/styleLogin.css') }}">
{% endblock %}


{% block body %}
    <header>
        <img src="{{ asset("asset/img/logoECOSERVICE.png") }}" />
    </header>
    <div class="container">
            <h2>Inscription</h2>
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm, {'attr': {'class': 'form-container'}}) }}
        <div class="form-group">
            {{ form_row(registrationForm.email, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.plainPassword, {
                'label': 'Password',
                'attr': {'class': 'form-group'}
            }) }}</div>
        <div class="form-group">
            {{ form_row(registrationForm.nom_use, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.prenom_use, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.telephone_use, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.date_naissance_use, {'attr': {'class': 'form-group'}}) }}
        </div>
        <div class="form-group">
            {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'form-group'}}) }}
        </div>

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}

    </div>
{% endblock %}
