{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('asset/css/styleHomePage.css') }}">
{% endblock %}
{% block body %}


    <section class="hero">
        <div class="container">
            <h2>Bienvenue sur SNEAKERCE</h2>
            <p>Découvrez notre large sélection de sneakers de qualité.</p>
            <a href="{{ path('app_list_produit') }}" class="btn">Découvrir notre catalogue</a>
        </div>
    </section>
    <section class="products">

        <div class="containerProduit">

            {% for produit in  produits %}
                <a href="{{ path('app_produit_show', {'id': produit.id}) }}" class="linkProduit product">
                    <div>
                        <img src="{{ asset('uploads/images/' ~ produit.imgPro) }}" alt="{{ produit.nomPro }}" class="imgProduit">

                        <h3>{{ produit.nomPro|slice(0, 30) ~ (produit.descriptionPro|length > 30 ? '...' : '') }}</h3>
                        <p class="descProduit">{{ produit.descriptionPro|slice(0, 40) ~ (produit.descriptionPro|length > 40 ? '...' : '') }}</p>
                        <span class="price">{{ produit.prixPro }}€</span>
                    </div>
                </a>
            {% endfor %}

        </div>
    </section>

{% endblock %}
