{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/styleFicheProduit.css') }}">
    {{ ux_controller_link_tags() }}
{% endblock %}
{% block body %}
    {% block javascripts %}

        <script>
            function  getNoteProduit(idProduit){
                let apiUrl = "http://localhost:8000/noter/api/getnotebyidproduit/" +idProduit;
                let noteProduit = document.getElementById("noteProduit")
                let selectNote = document.getElementById("selectNote")
                let nombreNote = document.getElementById("nombreNote")
                return fetch(apiUrl)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`Erreur HTTP! Statut: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {

                        noteProduit.innerHTML = "";
                        noteProduit.innerHTML = data.moyenne_note;
                        selectNote.value = data.user_note;
                        selectNote.setAttribute('id', 'selectNote');
                        nombreNote.innerHTML = data.nombre_note;
                        //selectNote.setAttribute('id', data.id_note);
                    })
                    .catch(error => {
                        console.error('Une erreur s\'est produite:', error.message);
                        throw error;
                    });
            }
            document.addEventListener('DOMContentLoaded', function() {
                getNoteProduit({{ produit.id }})

                let selectNote = document.getElementById("selectNote")

                selectNote.addEventListener('change', function(event) {
                  console.log(selectNote.value)
                    updateNote(selectNote.value)
                });
            });

            function updateNote(slectNewNote){
                var currentUrl = window.location.href;

                var urlParts = currentUrl.split('/');

                var produitIndex = urlParts.indexOf('produit');

                let data = {
                    id_produit: parseInt(produitIndex),
                    note: slectNewNote,
                };
                console.log(data)
                let options = {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(data)
                };
                let apiUrl ="http://localhost:8000/noter/api/updatenoteproduit";
                fetch(apiUrl, options)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Erreur lors de la requête HTTP: ' + response.status);
                        }
                        getNoteProduit({{ produit.id }})
                    })
                    .then(data => {

                    })
                    .catch(error => {
                        console.error('Erreur lors de la requête fetch:', error.message);
                    });
            }
        </script>
        {% if app.user %}
            <script src="{{ asset('asset/js/ApiAddProduitPanier.js') }}"></script>
            <script>

                let data = JSON.parse(localStorage.getItem('panier')) || [];
                console.log()
                data.forEach(function (produit, index) {
                    addProduitFromLocalStorage(produit.id_produit,produit.quantite_produit)
                });
                localStorage.clear();
            </script>

        {% else %}
            <script src="{{ asset('asset/js/AddProduitPanier.js') }}"></script>
        {% endif %}


    {% endblock %}
    <section class="product-details-section">
        <h2>Détails du Produit</h2>
        <div class="container-product">
            <img src="/uploads/images/{{ produit.imgPro }}" alt="{{ produit.nomPro }}" class="product-image">

            <div class="product-details">
                <!-- Ajout de l'image du produit -->
                <h3>Nom du Produit: <span class="product-name">{{ produit.nomPro }}</span></h3>
                <p>Description du Produit: <span class="product-description">{{ produit.descriptionPro}}.</span></p>
                <span class="price">Prix: <span class="product-price">{{ produit.prixPro }}</span></span>
                <p>Stock: <span class="product-stock">{{ produit.quantitePro }}</span> </p>

                <p>Catégorie: <span class="product-category">{{produit.getCat().getLibelle()}}</span></p>

                <input type="number" id="quantite">
                <button class="add-to-cart-button" id="{{ produit.id }}" onclick="addToPanier({{ produit.id }})">Ajouter au panier</button>

            </div>
        </div>
    </section>


    <span id="noteProduit"> #</span>
    <p>Nombre d'avis : <span id="nombreNote"></span></p>
    <select id="selectNote">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>
    <br>

    <section class="comments-section">
        <h2>Commentaires et Notation</h2>
        <div class="container">
            {{ form_start(form, {'attr': {'class': 'new-comment-form'}}) }}
            {{ include('produit/_formCom.html.twig') }}
            {{ form_end(form) }}

            <div class="comments">
                {% if commentaires is not empty %}
                    {% for commentaire in commentaires %}
                        <ul class="commentaireContainer">
                            <div class="comment">
                                <span class="comment-text">{{ commentaire.commentaire }}</span><br>
                                <span>Par : {{ commentaire.getUser.getNomUse }}</span>
                            </div>

                        </ul>
                    {% endfor %}
                {% else %}
                    <p>Aucun commentaire pour cette publication.</p>
                {% endif %}

        </div>
    </section>






{% endblock %}