{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    {% block javascripts %}
        {% if app.user %}
            <script src="{{ asset('asset/js/ApiAddProduitPanier.js') }}"></script>
            <script>

                let data = JSON.parse(localStorage.getItem('panier')) || [];
                console.log()
                data.forEach(function (produit, index) {
                    addProduitFromLocalStorage(produit.id_produit,produit.quantite_produit)
                });
                localStorage.clear();
            </script>
        {% else %}
            <script src="{{ asset('asset/js/AddProduitPanier.js') }}"></script>
        {% endif %}
    {% endblock %}
    <h1>Produit</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom_pro</th>
                <td>{{ produit.nomPro }}</td>
            </tr>
            <tr>
                <th>Prix_pro</th>
                <td>{{ produit.prixPro }}</td>
            </tr>
            <tr>
                <th>Quantite_pro</th>
                <td>{{ produit.quantitePro }}</td>
            </tr>
            <tr>
                <th>Img_pro</th>
                <td>{{ produit.imgPro }}</td>
            </tr>
            <tr>
                <th>Description_pro</th>
                <td>{{ produit.descriptionPro }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_produit_index') }}">back to list</a>

    <a href="{{ path('app_produit_edit', {'id': produit.id}) }}">edit</a>

    {{ include('produit/_delete_form.html.twig') }}
    <input type="number" id="quantite">
    <button id="{{ produit.id }}" onclick="addToPanier({{ produit.id }})">Ajouter au panier</button>
{% endblock %}
