<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            <link rel="stylesheet" href="{{ asset('asset/css/styleHomePage.css') }}">
            {{ ux_controller_link_tags() }}
        {% endblock %}


    </head>
    <body>


    <header>
        <div class="headertop">
            <nav>
                <ul>
                    <li><a href="{{path('app_default') }}" >Accueil</a></li>
                    <li><a href="{{ path("app_panier") }}">Panier[ ]</a></li>
                    {% if app.user == null %}
                    <li><a href="{{ path("app_login") }}">Connexion</a></li>
                    {% else %}

                        <li><a href="{{ path("app_user_show") }}">Profil</a></li>
                        <li><a href="{{ path("app_logout") }}">Déconnexion</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        <div class="imglogo">
            <img src="{{ asset("asset/img/sneakerce.png") }}" />
            {# <h3>SNEAKERCE</h3> #}
        </div>
        <div class="headerbottom">
            <nav>
                <ul>
                    <li><a href="?cat=2">Nike</a></li>
                    <li><a href="?cat=3">Adidas</a></li>
                    <li><a href="?cat=4">New Balance</a></li>
                    <li><a href="?cat=5">Asics</a></li>
                    <li><a href="?cat=6">Autres</a></li>
                </ul>
            </nav>
        </div>

    </header>

    

    {% block body %}{% endblock %}
    <footer>
        <div class="container">
            <p> 2024 sneakerce. Tous droits réservés.</p>
        </div>
    </footer>
    </body>
</html>
