<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
            {{ ux_controller_link_tags() }}
        {% endblock %}

        {% block javascripts %}
            {{ importmap() }}
        {% endblock %}
    </head>
    <body>
    <nav>
        <img class="icon-dropdown-menu" src="{{ asset('assets/svg/icon-dropdown.svg') }}"></img>
        <img class="logo" src="{{ asset('assets/img/logo.png') }}"></img>
        <ul class="top-nav">
            <li class="search-bar-lg">
                <input placeholder="rechercher un produit ..."></input>
                <button>
                    <img class="search-icon" src="{{ asset('assets/svg/search.svg') }}"></img>
                </button>
            </li>
            <section class="nav-links-top">
                <li class="nav-link">
                    <a href="">PANIER[0]</a>
                </li>
                <li class="nav-link">
                    <a href="">MON PROFIL</a>
                </li>
                <li class="nav-link">
                    <a href="">MES COMMANDES</a>
                </li>
                <li class="nav-link">
                    <a href="">DECONNEXION</a>
                </li>
            <section>
        </ul>
        <ul class="bot-nav">
            <li class="nav-link">
                <a href="">ACCEUIL</a>
            </li>
            <li class="nav-link">
                <a href="">CATALOGUE</a>
            </li>
            <li class="nav-link">
                <a href="">PRODUITS</a>
            </li>
            <li class="nav-link">
                <a href="">S.A.V</a>
            </li>
            <li class="nav-link">
                <a href="">F.A.Q</a>
            </li>
            <li class="nav-link">
                <a href="">CONTACT</a>
            </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
    </body>
</html>
