{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('asset/css/styleProfil.css') }}">

{% endblock %}

{% block body %}
    <h2>Informations Personnelles</h2>
    <section class="profile">
        {% if app.user.admin == 1 %}
            <li><a href="{{ path("app_panel") }}">Panel</a></li>
        {% endif %}
        <div class="container">
            <div class="profile-info">
                <div class="info-item">
                    <span class="label">Nom:</span>
                    <span class="value">{{ user.nomUse }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Prénom:</span>
                    <span class="value">{{ user.prenomUse }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Email:</span>
                    <span class="value">{{ user.email }}</span>
                </div>
                <div class="info-item">
                    <span class="label">Nombre de commandes :</span>
                    <span class="value">{{ nombreCommande }}</span>
                </div>
            </div>
            <ul class="profile-links">
                <li><a href="#" class="sommaire-profil">Adresses de Livraison</a></li>
                <li><a href="#" class="sommaire-profil">Adresses de Facturation</a></li>
                <li><a href="#" class="sommaire-profil">Méthodes de Paiement</a></li>
                <li><a href="#" class="sommaire-profil">Commandes</a></li>
            </ul>
        </div>
    </section>

    <section class="shipping-address">
        <div class="container">
            <h2>Choisir une Adresse de Livraison</h2>

            {% if adresses is not empty %}
                {% for adresse in adresses %}
                    <div class="address-list">
                        <label for="address1">{{ adresse.RueAdr }} {{ adresse.ComplementAdr }}, {{ adresse.CpAdr }} {{ adresse.villeAdr }}, {{ adresse.pays.getNomPay }}</label>
                        <a href="{{ path('app_adresse_edit', {'id': adresse.id}) }}"><button class="btn">Modifier l'adresse</button></a>
                        {{ include('user/_delete_form.html.twig') }}
                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune adresse</p>
            {% endif %}
            <a href="{{ path('app_adresse_new') }}"><button class="btn">Ajouter une Nouvelle Adresse</button></a>

            </div>
        </div>
    </section>



    <section class="orders">
        <div class="container">
            <h2>Mes Commandes</h2>
            <div class="order">
                <div class="order-details">
                    <p><strong>Numéro de Commande:</strong> 123456</p>
                    <p><strong>Date de Commande:</strong> 2024-02-24</p>
                    <p><strong>Prix Total:</strong> $99.99</p>
                    <p><strong>Statut:</strong> En Attente</p>
                    <p><strong>Suivi:</strong> 1234567890</p>
                    <p><strong>Facture:</strong> <a href="#">Télécharger</a></p>
                    <!-- Ajoutez plus de détails sur la commande ici -->
                </div>
                <div class="mesItemsOrdered">

                </div>
            </div>

        </div>
    </section>
{% endblock %}
